*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 15px;
    padding-inline: 2rem;
    @media (max-width:445px){
        padding: 7px;
    }
   

}

    .navlinks {
    .li-links{
       display: flex;
       gap: 20px;
       list-style: none;
       a{
        text-decoration: none;
        color:black;
        font-size: 18px;
        font-family: 400;
       }
    }
}

    .divlogo{
        img{
            width: 70px;
            height: 70px;
            border-radius: 40px;
          }
        @media (max-width: 445px){
            width: 70px;
            height: 70px;
            border-radius: 40px;
        }
    }

    .booknow-tag{
        border-radius: 15px;
        background-color: #b48656;
        a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        width: 170px;
        background: #b48656;
        border-radius: 15px;
        color: white;
        padding: 18px;
        }
    
}



.more{
    max-width: 1000px;
    margin-inline: auto;
    img{
        margin-block: 1.5rem;
        max-width: 1000px;
        /* height: 600px; */
        @media (max-width: 445px){
            max-width: 100%;
        }
    }

    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8rem;
        @media (max-width: 445px){
            max-width: 100%;
            line-height: 1.5rem;
            padding-inline: 0.5rem;
        }
    }
}

.foother{
    padding: 50px;
    background: #fce6e3;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    @media (max-width: 445px){
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    h1{
        color:  rgb(206, 127, 134);
        font-family: Kugile, Kugile Fallback;
        font-weight: 400;
        font-style: normal;
    }

    p{
        font-family: Kugile, Kugile Fallback;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-block: 0.4rem;
    }

    .footer1{

        .flat-icon{
            display: flex;
            gap: 40px;
        }
        .mails{
            display: flex;
            gap: 10px;
            align-items: center;
            flex-direction: row;
            margin-block: 0.7rem;
        }
    }
}

.foother2{
    width: 100%;
    height: 30px;
    text-align: center;
    background: black;
    color: white;
    
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.hamburger{
    display: none;
    cursor: pointer;
}


@media (max-width:767px) {

    .hamburger{
        display: block;

    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navlinks{
            position: fixed;
            width: 100%;
            left: -100%;
            top: 35px;
            gap: 0;
            background-color:black;
            transition: 0.3s;
            margin: 50px 0;
            flex-direction: column;
            color: #faefed;
            padding-left: 1rem;
            z-index: 1;
        
        }

        .navlinks.active{
            left: 0;
        }

        .navlinks{ 
        .li-links{
            margin: 16px 0;
            flex-direction: column;
            align-items: start;
            a{
                color: white;
            }
        }
    }   
           
}


