*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}


    .navbar{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 15px;
        padding-inline: 2rem;
        @media (max-width:445px){
            padding: 7px;
        }
    
   }

        .navlinks {
        .li-links{
           display: flex;
           gap: 20px;
           list-style: none;
           a{
            text-decoration: none;
            color:black;
            font-size: 18px;
            font-family: 400;
           }
        }
    }

        .divlogo{
            width: 100px;
            height: 100px;
            background-image: url(./Assets/Images/logo.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 50px;
            @media (max-width: 445px){
                width: 70px;
                height: 70px;
                border-radius: 40px;
            }
        }

        .booknow-tag{
            border-radius: 15px;
            background-color: #b48656;
            a{
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            width: 170px;
            background: #b48656;
            border-radius: 15px;
            color: white;
            padding: 18px;
            }
        
    }
    
    


h1{
    color:black;
    font-size: 38px;
    background: #f5f3f3;
    padding: 60px;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    @media (max-width: 445px){
        padding: 20px;
    }
}


.heading{
    font-size: 32px;
    text-align: center;
    margin-block: 0.8rem;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(206, 127, 134);
}

.classic-content{
    max-width: 100%;
    height: 560px;
    display: flex;
    flex-direction: row;
    @media (max-width: 445px){
        display: flex;
        flex-direction: column;
    }
}

.classic-content2{
    max-width: 100%;
    height: 560px;
    display: flex;
    flex-direction: row;
    @media (max-width: 445px){
        display: flex;
        flex-direction: column;
    }
}

.classic-content3{
    max-width: 100%;
    height: 560px;
    display: flex;
    flex-direction: row;
    @media (max-width: 445px){
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 65rem;
    }
}

.classic-box1{
    max-width: 50%;
    /* height: 550px; */
    padding: 50px 35px;
    /* border: 1px solid rgb(253, 249, 249); */
    @media (max-width: 445px){
        max-width: 100%;
        padding: 5px;
    }

    p{
        font-size: 20px;
        font-weight: 500;
    }

    ul li{
        font-size: 17px;
        font-weight: 500;
        margin-block: 0.9rem;
    }
}

.classic-box2{
    max-width: 50%;
    /* height: 550px; */
    @media (max-width: 445px){
        max-width: 100%;
        height: 300px;
    }
    img{
        max-width: 100%;
        height: 563px;
        @media (max-width: 445px){
            max-width: 100%;
            height: 300px;
        }
        
        }
    }



.classic-box3{
    margin-top: 23rem;
    max-width: 50%;
    height: 550px;
    @media (max-width: 445px){
        max-width: 100%;
        order: 1;
        margin-top: 23rem;
    }
    
    img{
        width: 100%;
        height: 560px;
        @media (max-width: 445px){
            max-width: 100%;
            height: 300px;
            order: 2;
        }
    }
}

.classic-box4{
    max-width: 50%;
    height: 560px;
    padding: 50px 35px;
    @media (max-width: 445px){
        max-width: 100%;
        padding: 5px;
        margin-top: 23rem;
    }
    /* border: 1px solid rgb(253, 249, 249); */

    p{
        font-size: 20px;
        font-weight: 500;
    }

    ul li{
        font-size: 17px;
        font-weight: 500;
        margin-block: 0.9rem;
    }
}

.classic-box5{
    width: 50%;
    height: 550px;
    img{
        width: 100%;
        height: 560px;
    }
}

.classic-box6{
    width: 50%;
    height: 560px;
    padding: 50px 35px;
    /* border: 1px solid rgb(253, 249, 249); */

    p{
        font-size: 20px;
        font-weight: 500;
    }

    ul li{
        font-size: 17px;
        font-weight: 500;
        margin-block: 0.9rem;
    }
}

.foother{
    padding: 50px;
    background: #fce6e3;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    h1{
        color:  rgb(206, 127, 134);
        font-family: Kugile, Kugile Fallback;
        font-weight: 400;
        font-style: normal;
    }

    p{
        font-family: Kugile, Kugile Fallback;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-block: 0.4rem;
    }

    .footer1{

        .flat-icon{
            display: flex;
            gap: 40px;
        }
        .mails{
            display: flex;
            gap: 10px;
            align-items: center;
            flex-direction: row;
            margin-block: 0.7rem;
        }
    }
}

.foother2{
    width: 100%;
    height: 30px;
    text-align: center;
    background: black;
    color: white;
    
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.hamburger{
    display: none;
    cursor: pointer;
}

@media (max-width:767px) {

    .hamburger{
        display: block;

    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navlinks{
            position: fixed;
            width: 100%;
            right: 100%;
            top: 37px;
            gap: 0;
            background-color:black;
            transition: 0.3s;
            margin: 50px 0;
            flex-direction: column;
            color: #faefed;
            padding-left: 1rem;
            z-index: 1;
        
        }

        .navlinks.active{
            left: 0;
        }

        .navlinks{ 
        .li-links{
            margin: 16px 0;
            flex-direction: column;
            align-items: start;
            a{
                color: white;
            }
        }
    }   
           
}

