*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}


.navbar{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 15px;
    padding-inline: 2rem;
    @media (max-width:445px){
        padding: 7px;
    }

}

    .navlinks {
    .li-links{
       display: flex;
       gap: 20px;
       list-style: none;
       a{
        text-decoration: none;
        color:black;
        font-size: 18px;
        font-family: 400;
       }
    }
}

    .divlogo{
        width: 100px;
        height: 100px;
        background-image: url(../Images/logo.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50px;
        @media (max-width: 445px){
            width: 70px;
            height: 70px;
            border-radius: 40px;
        }
    }

    .booknow-tag{
        border-radius: 15px;
        background-color: #b48656;
        a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        width: 170px;
        background: #b48656;
        border-radius: 15px;
        color: white;
        padding: 18px;
        }
    
}

.header{
    h1{
        color:black;
        font-size: 38px;
        background: #f5f3f3;
        padding: 60px;
        font-family: "Old Standard TT", serif;
        font-weight: 400;
        font-style: normal;
        @media (max-width:445px){
            padding: 30px;
        }
    }
    
    h2{
        font-size: 35px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-block:2rem;
    }
}

.email{
    max-width: 1200px;
    height: 600px;
    margin-inline: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    @media (max-width:445px){
        display: flex;
        flex-direction: column;
    }

    .box-email{
        max-width: 500px;
        height: 598px;
        /* border: 2px soid black; */
        border-radius: 12px;
        background: linear-gradient( rgba(0, 0, 0,.7),rgba(0, 0, 0,.7)),url(../Images/women-hand.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px;
        position: relative;
        @media (max-width:445px){
            max-width: 100%;
        }

        .par{
            margin-top: 1.5rem;
        }
        
        h3{
            color: white;
            font-size: 26px;
            font-family: "Old Standard TT", serif;
            font-weight: 400;
            font-style: normal;
            margin-block: 1rem;
        }

        p{
            font-size: 18px;
            font-weight: 400;
            color: white;
            margin-top: 1rem;
        }

        .contact-icon{
            display: flex;
            gap: 10px;
            align-items: center;
            margin-block: 0.7rem;
            p{
                font-size: 18px;
                font-family: "Edu VIC WA NT Hand", cursive;
                font-weight: 400;
            }
        }

        .box-icon{
            position: absolute;
            bottom: 8px;
        }
    }

    .maill-box{
        padding: 30px;
        @media (max-width:445px){
            padding: 0;
            padding-inline: 0.5rem;
        }
        .gmail{
            .box-gmaill{
                width: 100%;
              p{
                font-size: 24px;
                font-weight: 500;
                margin-block: 0.7rem;
              }
            }

            input{
                padding: 10px;
                width: 650px;
                /* border: 2px solid transparent; */
                @media (max-width:445px){
                    width: 100%;
                }
            }

            form{
                width: 100%;
            }
        }

        button{
            padding: 13px;
            color: White;
            background:#b48656;
            border: none;
            font-size: 18px;
            font-weight: 500;
            border-radius: 5px;
        }
    }

    .box-email1 texta{
        /* width: 600px; */
        max-width: 100%;
        @media (max-width:445px){
            width: 100%;
        }
        
    }

    .box-email1{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (max-width:445px){
            display: flex;
            flex-direction: column;
        }

       

        .contact-form{
            p{
                font-size: 24px;
                font-weight: 500;
                margin-block: 0.7rem;
            }

            input{
                padding: 10px;
                width: 300px;
                /* border: 2px solid transparent; */
                @media (max-width:445px){
                    width: 100%;
                }
            }

        }
    }
}

.foother{
    padding: 50px;
    background: #fce6e3;
    display: flex;
    justify-content: space-between;
    padding-inline: 4rem;
    @media (max-width:445px){
        margin-top: 30rem;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    h1{
        color:  rgb(206, 127, 134);
        font-family: Kugile, Kugile Fallback;
        font-weight: 400;
        font-style: normal;
    }

    p{
        font-family: Kugile, Kugile Fallback;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        margin-block: 0.4rem;
    }

    .footer1{

        .flat-icon{
            display: flex;
            gap: 40px;
        }
        .mails{
            display: flex;
            gap: 10px;
            align-items: center;
            flex-direction: row;
            margin-block: 0.7rem;
        }
    }
}

.foother2{
    width: 100%;
    height: 30px;
    text-align: center;
    background: black;
    color: white;
    
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.hamburger{
    display: none;
    cursor: pointer;
}


@media (max-width:767px) {

    .hamburger{
        display: block;

    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navlinks{
            position: fixed;
            width: 100%;
            right: 100%;
            top: 37px;
            gap: 0;
            background-color:black;
            transition: 0.3s;
            margin: 50px 0;
            flex-direction: column;
            color: #faefed;
            padding-left: 1rem;
            z-index: 1;
        
        }

        .navlinks.active{
            left: 0;
        }

        .navlinks{ 
        .li-links{
            margin: 16px 0;
            flex-direction: column;
            align-items: start;
            a{
                color: white;
            }
        }
    }   
           
}


